// Colores Background

$bgcolor1: #121619;
$buttonbg: #6C6E70;
$paginationbg: #E6E7E7;
$pagination-active-bg: #6C6E70;
$buttonbghover: #D1D1D1;

// Colores Fuente

$navbtn1: #D1D1D1;
$navbtnhover: #D76C69;
$postDate: #6C6E70;
$postText: #6C6E70;
$postText2: #ECBCBA;
$pagination-color: #222323;
$link-color1: #ECBCBA;
$link-colorHover: #121619;
$link-colorActive: #E6E7E7;

// Tamaños Fuente

$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

// Border-Radius Pagination

$border-radius-pill: 50rem;
